<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <Property Id="DOTNET_20_CONFIG">
      <RegistrySearch Id="NetFxInstallRootForConfig20Search" Root="HKLM" Key="Software\Microsoft\.NETFramework" Name="InstallRoot" Type="directory">
        <DirectorySearch Id="NetFx20InstallRootSearch" Path="v2.0.50727" Depth="0">
          <DirectorySearch Id="SearchMachineConfig_20" Path="Config" Depth="0">
            <FileSearch Id="FileSearchMachineConfig_20" Name="machine.config"/>
          </DirectorySearch>
        </DirectorySearch>
      </RegistrySearch>
    </Property>
    
    <Property Id="DOTNET_40_CONFIG">
      <RegistrySearch Id="NetFxInstallRootForConfig40Client" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Client" Name="InstallPath" Type="directory" >
        <DirectorySearch Id="SearchMachineConfig_40" Path="Config" Depth="0">
          <FileSearch Id="FileSearchMachineConfig_40" Name="machine.config"/>
        </DirectorySearch>
      </RegistrySearch>
    </Property>

    <Property Id="DOTNET64_20_CONFIG">
      <RegistrySearch Id="NetFxInstallRootForConfig20Search64" Root="HKLM" Key="Software\Microsoft\.NETFramework" Name="InstallRoot" Win64="yes" Type="directory">
        <DirectorySearch Id="NetFx20InstallRootSearch64" Path="v2.0.50727" Depth="0">
          <DirectorySearch Id="SearchMachineConfig_6420" Path="Config" Depth="0">
            <FileSearch Id="FileSearchMachineConfig_6420" Name="machine.config"/>
          </DirectorySearch>
        </DirectorySearch>
      </RegistrySearch>
    </Property>

    <Property Id="DOTNET64_40_CONFIG">
      <RegistrySearch Id="NetFxInstallRootForConfig40Client64" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Client" Name="InstallPath" Type="directory" Win64="yes" >
        <DirectorySearch Id="SearchMachineConfig_6440" Path="Config" Depth="0">
          <FileSearch Id="FileSearchMachineConfig_6440" Name="machine.config"/>
        </DirectorySearch>
      </RegistrySearch>
    </Property>

    <Property Id="DOTNET_20_EVENTLOGMESSAGES">
      <RegistrySearch Id="NetFxInstallRootForEventLog20Search" Root="HKLM" Key="Software\Microsoft\.NETFramework" Name="InstallRoot" Type="directory">
        <DirectorySearch Id="NetFxForEventLog20InstallRootSearch" Path="v2.0.50727" Depth="0">
          <FileSearch Id="FileSearchEventLogMessages_20" Name="EventLogMessages.dll"/>
        </DirectorySearch>
      </RegistrySearch>
    </Property>

    <Property Id="DOTNET_40_EVENTLOGMESSAGES">
      <RegistrySearch Id="NetFxInstallRootForEventLog40Client" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Client" Name="InstallPath" Type="directory" >
        <FileSearch Id="FileSearchEventLogMessages_40" Name="EventLogMessages.dll"/>
      </RegistrySearch>
    </Property>

    <Property Id="DOTNET64_20_EVENTLOGMESSAGES">
      <RegistrySearch Id="NetFxInstallRootForEventLog20Search64" Root="HKLM" Key="Software\Microsoft\.NETFramework" Name="InstallRoot" Type="directory" Win64="yes">
        <DirectorySearch Id="NetFxForEventLog20InstallRootSearch64" Path="v2.0.50727" Depth="0">
          <FileSearch Id="FileSearchEventLogMessages_6420" Name="EventLogMessages.dll"/>
        </DirectorySearch>
      </RegistrySearch>
    </Property>

    <Property Id="DOTNET64_40_EVENTLOGMESSAGES">
      <RegistrySearch Id="NetFxInstallRootForEventLog40Client64" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Client" Name="InstallPath" Type="directory" Win64="yes" >
        <FileSearch Id="FileSearchEventLogMessages_6440" Name="EventLogMessages.dll"/>
      </RegistrySearch>
    </Property>
    
    <Property Id="EXTENSION_DIR_VS2010">
      <RegistrySearch Id="VS2010_Extension"
                      Root="HKCU"
                      Key="Software\Microsoft\VisualStudio\10.0_Config\Initialization"
                      Name="ApplicationExtensionsFolder"
                      Type="raw" />
    </Property>

    <Property Id="EXTENSION_DIR_VS2012">
      <RegistrySearch Id="VS2012_Extension"
                      Root="HKCU"
                      Key="Software\Microsoft\VisualStudio\11.0_Config\Initialization"
                      Name="ApplicationExtensionsFolder"
                      Type="raw" />
    </Property>

    <Property Id="EXTENSION_DIR_VS2013">
      <RegistrySearch Id="VS2013_Extension"
                      Root="HKCU"
                      Key="Software\Microsoft\VisualStudio\12.0_Config\Initialization"
                      Name="ApplicationExtensionsFolder"
                      Type="raw" />
    </Property>

    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="NET48" Name="NET 4.8">
        <Component Id="Install_DotNetDriver_48" Guid="A04B6218-AD90-40E5-8001-918CF0D3EAF2">
          <File Id="NuoDb.Data.Client.48.dll"
                KeyPath="yes"
                Source="../NuoDb.Data.Client.4.8/bin/$(var.Configuration)/NuoDb.Data.Client.dll"/>
          <RegistryValue Id="R_DT_AssemblyFolders_48"
                          Root="HKLM"
                          Key="SOFTWARE\Microsoft\.NETFramework\AssemblyFolders\[ProductName]_48"
                          Value="[$Install_DotNetDriver_48]"
                          Type="string"/>
        </Component>
      </Directory>

      <Directory Id="NET40" Name="NET 4.0">
        <Component Id="Install_DotNetDriver_40" Guid="7EB79C05-04AE-4BD0-B934-E00104F00FC4">
          <File Id="NuoDb.Data.Client.40.dll"
                KeyPath="yes"
                Source="../NuoDb.Data.Client/bin/$(var.Configuration)/NuoDb.Data.Client.dll"/>
          <RegistryValue Id="R_DT_AssemblyFolders_40"
                          Root="HKLM"
                          Key="SOFTWARE\Microsoft\.NETFramework\AssemblyFolders\[ProductName]_40"
                          Value="[$Install_DotNetDriver_40]"
                          Type="string"/>
        </Component>
      </Directory>
      
      <Directory Id="ASP.NET" Name="ASP.NET">
        <Component Id="Install_MembershipProvider" Guid="7619B209-76A9-4446-8872-96260753611C">
          <File Id="NuoDb.Web.Security.dll"
                KeyPath="yes"
                Assembly=".net"
                Source="../NuoDb.Web.Security/bin/$(var.Configuration)/NuoDb.Web.Security.dll"/>
        </Component>
        <!-- .NET 2.0 - 4.8 -->
        <Component Id="Register_MembershipProvider_48" Guid="8CB8F917-5842-4752-BDFF-011ECFD9D71F">
          <CreateFolder/>
          <util:EventSource Name="NuoDbMembershipProvider"
                            Log="Application"
                            EventMessageFile="[DOTNET_20_EVENTLOGMESSAGES]"/>
          <Condition>DOTNET_20_EVENTLOGMESSAGES</Condition>
        </Component>
        <!-- .NET 4.0 -->
        <Component Id="Register_MembershipProvider_40" Guid="B9E5EBB5-CFC2-4697-9AE4-A42236120974">
          <CreateFolder/>
          <util:EventSource Name="NuoDbMembershipProvider"
                            Log="Application"
                            EventMessageFile="[DOTNET_40_EVENTLOGMESSAGES]"/>
          <Condition>DOTNET_40_EVENTLOGMESSAGES</Condition>
        </Component>
        <!-- 64 bit .NET 2.0 - 4.8 -->
        <Component Id="Register_MembershipProvider64_48" Guid="5C3E4170-B4D1-4EA7-9E08-F628EE08E06D">
          <CreateFolder/>
          <util:EventSource Name="NuoDbMembershipProvider"
                            Log="Application"
                            EventMessageFile="[DOTNET64_20_EVENTLOGMESSAGES]"/>
          <Condition>DOTNET64_20_EVENTLOGMESSAGES</Condition>
        </Component>
        <!-- 64 bit .NET 4.0 -->
        <Component Id="Register_MembershipProvider64_40" Guid="FC1AF163-7DA0-4FD9-AF21-C27AB6A28114">
          <CreateFolder/>
          <util:EventSource Name="NuoDbMembershipProvider"
                            Log="Application"
                            EventMessageFile="[DOTNET64_40_EVENTLOGMESSAGES]"/>
          <Condition>DOTNET64_40_EVENTLOGMESSAGES</Condition>
        </Component>
      </Directory>
      
      <Directory Id="EF6" Name="EF 6.0">
        <Component Id="Install_EntityFramework_NuoDb" Guid="7EB79C05-04AE-4BD0-B934-E00104F00FC5">
          <File Id="EntityFramework.NuoDb.dll"
                KeyPath="yes"
                Source="../EntityFramework.NuoDb/bin/$(var.Configuration)/EntityFramework.NuoDb.dll"/>
        </Component>
      </Directory>

      <Component Id="Install_VSPackage" Guid="B7AFEE82-BFBA-4631-B239-12A8EC52DF2C">
        <File Id="NuoDb.VisualStudio.DataTools.vsix"
              KeyPath="yes"
              Source="../NuoDBVSPackage/bin/$(var.Configuration)/NuoDb.VisualStudio.DataTools.vsix"/>
      </Component>

      <Directory Id="EXTENSION_DIR_VS2010" Name="VS2010">
        <Directory Id="EXTENSION_DIR_VS2010_MICROSOFT" Name="Microsoft" >
          <Directory Id="EXTENSION_DIR_VS2010_MICROSOFT_EFT" Name="Entity Framework Tools">
            <Directory Id="EXTENSION_DIR_VS2010_MICROSOFT_EFT_DBGEN" Name="DBGen"/>
            <Directory Id="EXTENSION_DIR_VS2010_MICROSOFT_EFT_TEMPLATES" Name="Templates">
              <Directory Id="EXTENSION_DIR_VS2010_MICROSOFT_EFT_TEMPLATES_INCLUDES" Name="Includes"/>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="EXTENSION_DIR_VS2012" Name="VS2012">
        <Directory Id="EXTENSION_DIR_VS2012_MICROSOFT" Name="Microsoft" >
          <Directory Id="EXTENSION_DIR_VS2012_MICROSOFT_EFT" Name="Entity Framework Tools">
            <Directory Id="EXTENSION_DIR_VS2012_MICROSOFT_EFT_DBGEN" Name="DBGen"/>
            <Directory Id="EXTENSION_DIR_VS2012_MICROSOFT_EFT_TEMPLATES" Name="Templates">
              <Directory Id="EXTENSION_DIR_VS2012_MICROSOFT_EFT_TEMPLATES_INCLUDES" Name="Includes"/>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="EXTENSION_DIR_VS2013" Name="VS2013">
        <Directory Id="EXTENSION_DIR_VS2013_MICROSOFT" Name="Microsoft" >
          <Directory Id="EXTENSION_DIR_VS2013_MICROSOFT_EFT" Name="Entity Framework Tools">
            <Directory Id="EXTENSION_DIR_VS2013_MICROSOFT_EFT_DBGEN" Name="DBGen"/>
            <Directory Id="EXTENSION_DIR_VS2013_MICROSOFT_EFT_TEMPLATES" Name="Templates">
              <Directory Id="EXTENSION_DIR_VS2013_MICROSOFT_EFT_TEMPLATES_INCLUDES" Name="Includes"/>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="GAC48" Name="GAC48">
        <Component Id="Register_GAC_48" Guid="36FCC7E2-FCC8-431B-8C94-EB9E92B84CE6">
          <File Id="NuoDb.Data.Client.48.dll_GAC"
                Name="NuoDb.Data.Client.dll"
                Assembly=".net"
                KeyPath="yes"
                Source="../NuoDb.Data.Client.4.8/bin/$(var.Configuration)/NuoDb.Data.Client.dll"/>
        </Component>

        <Component Id="Register_DotNetProvider_20" Guid="30E05F54-C856-4645-8701-0AF31EF27BA6">
          <RegistryKey Root="HKLM" Key="Software\NuoDB">
            <RegistryValue KeyPath="yes" Name=".NET 2.0" Value="1" Type="integer"/>
          </RegistryKey>
          <!-- .NET 2.0 - 4.8 -->
          <util:XmlConfig Id="MachineConfigDbProviderFactories20"
                      File="[DOTNET_20_CONFIG]"
                      Action="create"
                      On="install"
                      ElementPath="//configuration/system.data/DbProviderFactories"
                      Name="add"
                      Node="element"
                      Sequence="1" />

          <util:XmlConfig Id="MachineConfigDbProviderFactories_Name20"
                      File="[DOTNET_20_CONFIG]"
                      ElementPath="MachineConfigDbProviderFactories20"
                      Name="name"
                      Value="NuoDB Data Provider"
                      Sequence="2" />
          <util:XmlConfig Id="MachineConfigDbProviderFactories_Invariant20"
                      File="[DOTNET_20_CONFIG]"
                      ElementPath="MachineConfigDbProviderFactories20"
                      Name="invariant"
                      Value="NuoDb.Data.Client"
                      Sequence="2" />
          <util:XmlConfig Id="MachineConfigDbProviderFactories_Description20"
                      File="[DOTNET_20_CONFIG]"
                      ElementPath="MachineConfigDbProviderFactories20"
                      Name="description"
                      Value=".NET Framework Data Provider for NuoDB"
                      Sequence="2" />
          <util:XmlConfig Id="MachineConfigDbProviderFactories_Type20"
                      File="[DOTNET_20_CONFIG]"
                      ElementPath="MachineConfigDbProviderFactories20"
                      Name="type"
                      Value="NuoDb.Data.Client.NuoDbProviderFactory, NuoDb.Data.Client, Version=!(bind.FileVersion.NuoDb.Data.Client.48.dll), Culture=neutral, PublicKeyToken=e49f105b7fb49b38"
                      Sequence="2" />

          <util:XmlConfig Id="MachineConfigDbProviderFactories_Uninstall20"
                      File="[DOTNET_20_CONFIG]"
                      Action="delete"
                      On="uninstall"
                      Node="element"
                      VerifyPath="add[\[]@invariant='NuoDb.Data.Client'[\]]"
                      ElementPath="//configuration/system.data/DbProviderFactories"
                      Sequence="1" />
          <Condition>DOTNET_20_CONFIG</Condition>
        </Component>

        <Component Id="Register_DotNet64Provider_20" Guid="40705DB7-4BF6-4063-8A83-EC5AE44F36F1">
          <RegistryKey Root="HKLM" Key="Software\NuoDB">
            <RegistryValue KeyPath="yes" Name=".NET 2.0 64 bit" Value="1" Type="integer"/>
          </RegistryKey>
          <!-- .NET 2.0 - 4.8 64 it-->
          <util:XmlConfig Id="MachineConfigDbProviderFactories20_x64"
                      File="[DOTNET64_20_CONFIG]"
                      Action="create"
                      On="install"
                      ElementPath="//configuration/system.data/DbProviderFactories"
                      Name="add"
                      Node="element"
                      Sequence="1" />

          <util:XmlConfig Id="MachineConfigDbProviderFactories_Name20_x64"
                      File="[DOTNET64_20_CONFIG]"
                      ElementPath="MachineConfigDbProviderFactories20_x64"
                      Name="name"
                      Value="NuoDB Data Provider"
                      Sequence="2" />
          <util:XmlConfig Id="MachineConfigDbProviderFactories_Invariant20_x64"
                      File="[DOTNET64_20_CONFIG]"
                      ElementPath="MachineConfigDbProviderFactories20_x64"
                      Name="invariant"
                      Value="NuoDb.Data.Client"
                      Sequence="2" />
          <util:XmlConfig Id="MachineConfigDbProviderFactories_Description20_x64"
                      File="[DOTNET64_20_CONFIG]"
                      ElementPath="MachineConfigDbProviderFactories20_x64"
                      Name="description"
                      Value=".NET Framework Data Provider for NuoDB"
                      Sequence="2" />
          <util:XmlConfig Id="MachineConfigDbProviderFactories_Type20_x64"
                      File="[DOTNET64_20_CONFIG]"
                      ElementPath="MachineConfigDbProviderFactories20_x64"
                      Name="type"
                      Value="NuoDb.Data.Client.NuoDbProviderFactory, NuoDb.Data.Client, Version=!(bind.FileVersion.NuoDb.Data.Client.48.dll), Culture=neutral, PublicKeyToken=e49f105b7fb49b38"
                      Sequence="2" />

          <util:XmlConfig Id="MachineConfigDbProviderFactories_Uninstall20_x64"
                      File="[DOTNET64_20_CONFIG]"
                      Action="delete"
                      On="uninstall"
                      Node="element"
                      VerifyPath="add[\[]@invariant='NuoDb.Data.Client'[\]]"
                      ElementPath="//configuration/system.data/DbProviderFactories"
                      Sequence="1" />
          <Condition>DOTNET64_20_CONFIG</Condition>
        </Component>
      </Directory>
      <Directory Id="GAC40" Name="GAC40">
        <Component Id="Register_GAC_40" Guid="14603834-DF9E-46ED-9A44-285043C96350">
          <File Id="NuoDb.Data.Client.40.dll_GAC"
                Name="NuoDb.Data.Client.dll"
                Assembly=".net"
                KeyPath="yes"
                Source="../NuoDb.Data.Client/bin/$(var.Configuration)/NuoDb.Data.Client.dll"/>
        </Component>
        <Component Id="Register_GAC_EF" Guid="14603834-DF9E-46ED-9A44-285043C96351">
          <File Id="EntityFramework.NuoDb.dll_GAC"
                Name="EntityFramework.NuoDb.dll"
                Assembly=".net"
                KeyPath="yes"
                Source="../EntityFramework.NuoDb/bin/$(var.Configuration)/EntityFramework.NuoDb.dll"/>
        </Component>

        <Component Id="Register_DotNetProvider_40" Guid="DE4E60BA-8202-4BB5-9AB7-88248CD6B368">
          <RegistryKey Root="HKLM" Key="Software\NuoDB">
            <RegistryValue KeyPath="yes" Name=".NET 4.0" Value="1" Type="integer"/>
          </RegistryKey>
          <!-- .NET 4.0 -->
          <util:XmlConfig Id="MachineConfigDbProviderFactories40"
                      File="[DOTNET_40_CONFIG]"
                      Action="create"
                      On="install"
                      ElementPath="//configuration/system.data/DbProviderFactories"
                      Name="add"
                      Node="element"
                      Sequence="1" />

          <util:XmlConfig Id="MachineConfigDbProviderFactories_Name40"
                      File="[DOTNET_40_CONFIG]"
                      ElementPath="MachineConfigDbProviderFactories40"
                      Name="name"
                      Value="NuoDB Data Provider"
                      Sequence="2" />
          <util:XmlConfig Id="MachineConfigDbProviderFactories_Invariant40"
                      File="[DOTNET_40_CONFIG]"
                      ElementPath="MachineConfigDbProviderFactories40"
                      Name="invariant"
                      Value="NuoDb.Data.Client"
                      Sequence="2" />
          <util:XmlConfig Id="MachineConfigDbProviderFactories_Description40"
                      File="[DOTNET_40_CONFIG]"
                      ElementPath="MachineConfigDbProviderFactories40"
                      Name="description"
                      Value=".NET Framework Data Provider for NuoDB"
                      Sequence="2" />
          <util:XmlConfig Id="MachineConfigDbProviderFactories_Type40"
                      File="[DOTNET_40_CONFIG]"
                      ElementPath="MachineConfigDbProviderFactories40"
                      Name="type"
                      Value="NuoDb.Data.Client.NuoDbProviderFactory, NuoDb.Data.Client, Version=!(bind.FileVersion.NuoDb.Data.Client.40.dll), Culture=neutral, PublicKeyToken=e49f105b7fb49b38"
                      Sequence="2" />

          <util:XmlConfig Id="MachineConfigDbProviderFactories_Uninstall40"
                      File="[DOTNET_40_CONFIG]"
                      Action="delete"
                      On="uninstall"
                      Node="element"
                      VerifyPath="add[\[]@invariant='NuoDb.Data.Client'[\]]"
                      ElementPath="//configuration/system.data/DbProviderFactories"
                      Sequence="1" />
          <Condition>DOTNET_40_CONFIG</Condition>
        </Component>

        <Component Id="Register_DotNet64Provider_40" Guid="C34983FA-F5B9-492E-B50B-F890697FE306">
          <RegistryKey Root="HKLM" Key="Software\NuoDB">
            <RegistryValue KeyPath="yes" Name=".NET 4.0 64 bit" Value="1" Type="integer"/>
          </RegistryKey>
          <!-- .NET 4.0 64 bit-->
          <util:XmlConfig Id="MachineConfigDbProviderFactories40_x64"
                      File="[DOTNET64_40_CONFIG]"
                      Action="create"
                      On="install"
                      ElementPath="//configuration/system.data/DbProviderFactories"
                      Name="add"
                      Node="element"
                      Sequence="1" />

          <util:XmlConfig Id="MachineConfigDbProviderFactories_Name40_x64"
                      File="[DOTNET64_40_CONFIG]"
                      ElementPath="MachineConfigDbProviderFactories40_x64"
                      Name="name"
                      Value="NuoDB Data Provider"
                      Sequence="2" />
          <util:XmlConfig Id="MachineConfigDbProviderFactories_Invariant40_x64"
                      File="[DOTNET64_40_CONFIG]"
                      ElementPath="MachineConfigDbProviderFactories40_x64"
                      Name="invariant"
                      Value="NuoDb.Data.Client"
                      Sequence="2" />
          <util:XmlConfig Id="MachineConfigDbProviderFactories_Description40_x64"
                      File="[DOTNET64_40_CONFIG]"
                      ElementPath="MachineConfigDbProviderFactories40_x64"
                      Name="description"
                      Value=".NET Framework Data Provider for NuoDB"
                      Sequence="2" />
          <util:XmlConfig Id="MachineConfigDbProviderFactories_Type40_x64"
                      File="[DOTNET64_40_CONFIG]"
                      ElementPath="MachineConfigDbProviderFactories40_x64"
                      Name="type"
                      Value="NuoDb.Data.Client.NuoDbProviderFactory, NuoDb.Data.Client, Version=!(bind.FileVersion.NuoDb.Data.Client.40.dll), Culture=neutral, PublicKeyToken=e49f105b7fb49b38"
                      Sequence="2" />

          <util:XmlConfig Id="MachineConfigDbProviderFactories_Uninstall40_x64"
                      File="[DOTNET64_40_CONFIG]"
                      Action="delete"
                      On="uninstall"
                      Node="element"
                      VerifyPath="add[\[]@invariant='NuoDb.Data.Client'[\]]"
                      ElementPath="//configuration/system.data/DbProviderFactories"
                      Sequence="1" />
          <Condition>DOTNET64_40_CONFIG</Condition>
        </Component>

      </Directory>
    </DirectoryRef>

    <ComponentGroup Id="Install_DDEXPlugin_VS2010">
      <Component Guid="A04B6218-AD90-40E5-8001-918CF0D3EAF5" Directory="EXTENSION_DIR_VS2010_MICROSOFT_EFT_DBGEN">
        <File KeyPath="yes" Id="SSDLToNuoSQL.tt_VS2010"
              Name="SSDLToNuoSQL.tt"
              Source="../NuoDBVSPackage/Templates/DDL_Templates/SSDLToNuoSQL.tt.txt">
        </File>
      </Component>
      <Component Guid="A04B6218-AD90-40E5-8001-918CF0D3EAF6" Directory="EXTENSION_DIR_VS2010_MICROSOFT_EFT_TEMPLATES_INCLUDES">
        <File KeyPath="yes" Id="GenerateNuoSQL.Utility.ttinclude_VS2010"
              Name="GenerateNuoSQL.Utility.ttinclude"
              Source="../NuoDBVSPackage/Templates/DDL_Templates/GenerateNuoSQL.Utility.ttinclude.txt">
        </File>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Install_DDEXPlugin_VS2012">
      <Component Guid="A04B6218-AD90-40E5-8001-918CF0D3EAF7" Directory="EXTENSION_DIR_VS2012_MICROSOFT_EFT_DBGEN">
        <File KeyPath="yes" Id="SSDLToNuoSQL.tt_VS2012"
              Name="SSDLToNuoSQL.tt"
              Source="../NuoDBVSPackage/Templates/DDL_Templates/SSDLToNuoSQL.tt.txt">
        </File>
      </Component>
      <Component Guid="A04B6218-AD90-40E5-8001-918CF0D3EAF8" Directory="EXTENSION_DIR_VS2012_MICROSOFT_EFT_TEMPLATES_INCLUDES">
        <File KeyPath="yes" Id="GenerateNuoSQL.Utility.ttinclude_VS2012"
              Name="GenerateNuoSQL.Utility.ttinclude"
              Source="../NuoDBVSPackage/Templates/DDL_Templates/GenerateNuoSQL.Utility.ttinclude.txt">
        </File>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Install_DDEXPlugin_VS2013">
      <Component Guid="A04B6218-AD90-40E5-8001-918CF0D3EAF9" Directory="EXTENSION_DIR_VS2013_MICROSOFT_EFT_DBGEN">
        <File KeyPath="yes" Id="SSDLToNuoSQL.tt_VS2013"
              Name="SSDLToNuoSQL.tt"
              Source="../NuoDBVSPackage/Templates/DDL_Templates/SSDLToNuoSQL.tt.txt">
        </File>
      </Component>
      <Component Guid="A04B6218-AD90-40E5-8001-918CF0D3EAFA" Directory="EXTENSION_DIR_VS2013_MICROSOFT_EFT_TEMPLATES_INCLUDES">
        <File KeyPath="yes" Id="GenerateNuoSQL.Utility.ttinclude_VS2013"
              Name="GenerateNuoSQL.Utility.ttinclude"
              Source="../NuoDBVSPackage/Templates/DDL_Templates/GenerateNuoSQL.Utility.ttinclude.txt">
        </File>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Install_DotNetDriver">
      <ComponentRef Id="Install_DotNetDriver_48" />
      <ComponentRef Id="Install_DotNetDriver_40" />
      <ComponentRef Id="Install_EntityFramework_NuoDb" />
    </ComponentGroup>
    <ComponentGroup Id="Register_DotNetDriver">
      <ComponentRef Id="Register_GAC_48"/>
      <ComponentRef Id="Register_GAC_40"/>
      <ComponentRef Id="Register_GAC_EF"/>
      <ComponentRef Id="Register_DotNetProvider_20"/>
      <ComponentRef Id="Register_DotNetProvider_40"/>
      <ComponentRef Id="Register_DotNet64Provider_20"/>
      <ComponentRef Id="Register_DotNet64Provider_40"/>
    </ComponentGroup>
  </Fragment>

</Wix>