<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Name="ADO.NET Driver for NuoDB" Language="1033" 
           Version="!(bind.FileVersion.NuoDb.Data.Client.35.dll)" Manufacturer="NuoDB Inc."
           Id="DB5ACE58-949E-4AEA-B42F-8706885BA41F" UpgradeCode="01d136dd-8f3c-4e8a-8343-d76b584caec2">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="nuo_bird_win_install_welcome.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="nuo_bird_win_install_header.bmp" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="ARPPRODUCTICON" Value="Package.ico" />
    <Icon Id="Package.ico" SourceFile="../NuoDBVSPackage/Resources/Package.ico" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" CompressionLevel="high" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="Installing database driver" Level="1">
      <ComponentGroupRef Id="Install_DotNetDriver" />
      <ComponentGroupRef Id="Register_DotNetDriver" />
    </Feature>

    <Feature Id="AspNetMembershipFeature" Title="Installing ASP.NET Membership Provider" Level="1">
      <ComponentRef Id="Install_MembershipProvider" />
      <ComponentRef Id="Register_MembershipProvider_35" />
      <ComponentRef Id="Register_MembershipProvider_40" />
      <ComponentRef Id="Register_MembershipProvider64_35" />
      <ComponentRef Id="Register_MembershipProvider64_40" />
    </Feature>

    <Feature Id="VStudioFeature" Title="Installing Visual Studio plugins" Level="1">
      <ComponentRef Id="Install_VSPackage"/>
      <ComponentGroupRef Id="Install_DDEXPlugin_VS2010" />
      <ComponentGroupRef Id="Install_DDEXPlugin_VS2012" />
      <ComponentGroupRef Id="Install_DDEXPlugin_VS2013" />
    </Feature>

    <Feature Id="SamplesFeature" Title="Installing sample projects" Level="1">
      <ComponentRef Id="SamplesSolution" />
      <ComponentGroupRef Id="SampleProject" />
      <ComponentGroupRef Id="SampleWebProject" />
      <ComponentGroupRef Id="ConsoleProject" />
      <ComponentGroupRef Id="EF6ConsoleProject" />
    </Feature>

    <!-- Section to handle the intallation of the VSIX -->
    <Property Id="IDE_DIR_VS2010">
      <RegistrySearch Id="VS2010_IDE"
                      Root="HKCU"
                      Key="Software\Microsoft\VisualStudio\10.0_Config"
                      Name="InstallDir"
                      Type="raw" />
    </Property>
    <SetProperty Id="VSIX_INSTALLER_VS2010" Value="[IDE_DIR_VS2010]VSIXInstaller.exe" After="AppSearch">IDE_DIR_VS2010</SetProperty>

    <Property Id="VSIX_INSTALLER_VS2012">
      <RegistrySearch Id="VS2012_VSIX_INSTALLER"
                      Root="HKCU"
                      Key="Software\Microsoft\VisualStudio\11.0_Config"
                      Name="VSIXInstallerLocation"
                      Type="raw" />
    </Property>

    <Property Id="VSIX_INSTALLER_VS2013">
      <RegistrySearch Id="VS2013_VSIX_INSTALLER"
                      Root="HKCU"
                      Key="Software\Microsoft\VisualStudio\12.0_Config"
                      Name="VSIXInstallerLocation"
                      Type="raw" />
    </Property>

    <CustomAction Id="RegisterVSIX_VS2010" 
                  Directory="INSTALLFOLDER"
                  ExeCommand="&quot;[VSIX_INSTALLER_VS2010]&quot; /admin /quiet &quot;[#NuoDb.VisualStudio.DataTools.vsix]&quot;"
                  Return="ignore"
                  Impersonate="no"
                  Execute="deferred"
                  />
    <CustomAction Id="UnRegisterVSIX_VS2010" 
                  Directory="INSTALLFOLDER"
                  ExeCommand="&quot;[VSIX_INSTALLER_VS2010]&quot; /admin /quiet /uninstall:407f565d-8772-4770-8243-5a1f396aae9d"
                  Return="ignore"
                  Impersonate="no"
                  Execute="deferred"
                  />
    <CustomAction Id="RegisterVSIX_VS2012"
                  Directory="INSTALLFOLDER"
                  ExeCommand="&quot;[VSIX_INSTALLER_VS2012]&quot; /admin /quiet &quot;[#NuoDb.VisualStudio.DataTools.vsix]&quot;"
                  Return="ignore"
                  Impersonate="no"
                  Execute="deferred"
                  />
    <CustomAction Id="UnRegisterVSIX_VS2012"
                  Directory="INSTALLFOLDER"
                  ExeCommand="&quot;[VSIX_INSTALLER_VS2012]&quot; /admin /quiet /uninstall:407f565d-8772-4770-8243-5a1f396aae9d"
                  Return="ignore"
                  Impersonate="no"
                  Execute="deferred"
                  />
    <CustomAction Id="RegisterVSIX_VS2013"
                  Directory="INSTALLFOLDER"
                  ExeCommand="&quot;[VSIX_INSTALLER_VS2013]&quot; /admin /quiet &quot;[#NuoDb.VisualStudio.DataTools.vsix]&quot;"
                  Return="ignore"
                  Impersonate="no"
                  Execute="deferred"
                  />
    <CustomAction Id="UnRegisterVSIX_VS2013"
                  Directory="INSTALLFOLDER"
                  ExeCommand="&quot;[VSIX_INSTALLER_VS2013]&quot; /admin /quiet /uninstall:407f565d-8772-4770-8243-5a1f396aae9d"
                  Return="ignore"
                  Impersonate="no"
                  Execute="deferred"
                  />

    <!-- The !VStudioFeature is the installed state of the feature -->
    <!-- The &VStudioFeature is the action state of the feature -->
    <!-- The possible states are absent = 2, local = 3, run from source = 4 -->
    <InstallExecuteSequence>
      <Custom Action="RegisterVSIX_VS2010" Before="InstallFinalize">
        <![CDATA[VSIX_INSTALLER_VS2010 AND (&VStudioFeature=3) AND (!VStudioFeature=2)]]>
      </Custom>
      <Custom Action="UnRegisterVSIX_VS2010" Before="RemoveFiles">
        <![CDATA[VSIX_INSTALLER_VS2010 AND (&VStudioFeature=2) AND (!VStudioFeature=3)]]>
      </Custom>
      <Custom Action="RegisterVSIX_VS2012" Before="InstallFinalize">
        <![CDATA[VSIX_INSTALLER_VS2012 AND (&VStudioFeature=3) AND (!VStudioFeature=2)]]>
      </Custom>
      <Custom Action="UnRegisterVSIX_VS2012" Before="RemoveFiles">
        <![CDATA[VSIX_INSTALLER_VS2012 AND (&VStudioFeature=2) AND (!VStudioFeature=3)]]>
      </Custom>
      <Custom Action="RegisterVSIX_VS2013" Before="InstallFinalize">
        <![CDATA[VSIX_INSTALLER_VS2013 AND (&VStudioFeature=3) AND (!VStudioFeature=2)]]>
      </Custom>
      <Custom Action="UnRegisterVSIX_VS2013" Before="RemoveFiles">
        <![CDATA[VSIX_INSTALLER_VS2013 AND (&VStudioFeature=2) AND (!VStudioFeature=3)]]>
      </Custom>
    </InstallExecuteSequence>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="ADO.NET Driver for NuoDB" />
      </Directory>
    </Directory>
    
  </Product>
  
</Wix>