<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="ADO.NET Driver for NuoDB" Language="1033" Version="1.0.0.0" Manufacturer="NuoDB Inc."
           UpgradeCode="01d136dd-8f3c-4e8a-8343-d76b584caec2">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="nuo_bird_win_install_welcome.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="nuo_bird_win_install_header.bmp" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="ARPPRODUCTICON" Value="Package.ico" />
    <Icon Id="Package.ico" SourceFile="../NuoDBVSPackage/Resources/Package.ico" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" CompressionLevel="high" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="Installing database driver" Level="1">
      <ComponentRef Id="Install_DotNetDriver" />
      <ComponentRef Id="Register_DotNetDriver" />
    </Feature>

    <Feature Id="VS2010Feature" Title="Installing VS2010 plugin" Level="1">
      <ComponentRef Id="Install_DDEXPlugin" />
      <Condition Level="1">NUODB_EXTENSION_DIR_VS2010 OR NUODB_EXTENSION_DIR_VS2012</Condition>
    </Feature>

    <Feature Id="SamplesFeature" Title="Installing sample projects" Level="1">
      <ComponentRef Id="SamplesSolution" />
      <ComponentGroupRef Id="SampleProject" />
      <ComponentGroupRef Id="SampleWebProject" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="ADO.NET Driver for NuoDB" />
      </Directory>
    </Directory>
    
  </Product>
  
</Wix>