<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
          
      <Component Id="SamplesSolution">
        <File KeyPath="yes" Source="..\DotNetSamples.sln" />
      </Component>

      <Directory Id="dir0FBAA63D90D3836352633300369A0E34" Name="WindowsFormsSample">
        <Directory Id="dirC5252FB19EDCB6158160CF5B556491D3" Name="Properties" >
          <Directory Id="dirC5252FB19EDCB6158160CF5B556491D5" Name="DataSources" />
        </Directory>
      </Directory>
      <Directory Id="dir6DE7D19A5FA74A4CF9C5E9A3E39E197F" Name="WebApplicationSample" >
        <Directory Id="dir22649DC0A0C0A383D4AC1819CD86A568" Name="Account" />
        <Directory Id="dir2F8045421329F2D7DE8A0388EC04E3F5" Name="Styles" />
        <Directory Id="dir85CD24AD85CC158EEAC2713361190102" Name="Scripts" />
        <Directory Id="dirFC41714AD7B05BEE2AF387A2260F9049" Name="Properties" />
      </Directory>
      <Directory Id="dir7C4943161F4326908FB17010A3E00061" Name="ConsoleSample" >
        <Directory Id="dirFE4B148A70A647221D7C840E963A9F37" Name="Properties" />
      </Directory>

    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="SampleProject">
      <Component Id="cmp2D6BE37F6C8AAF6FB87660420F7B4224" Directory="dir0FBAA63D90D3836352633300369A0E34" Guid="*">
        <File KeyPath="yes" Source="..\WindowsFormsSample\app.config" />
      </Component>
      <Component Id="cmpB7F6E2EA9876870DE085EC278D23660D" Directory="dir0FBAA63D90D3836352633300369A0E34" Guid="*">
        <File KeyPath="yes" Source="..\WindowsFormsSample\Form1.cs" />
      </Component>
      <Component Id="cmp352951BA6E2605D246B8F033B217D3A5" Directory="dir0FBAA63D90D3836352633300369A0E34" Guid="*">
        <File KeyPath="yes" Source="..\WindowsFormsSample\Form1.Designer.cs" />
      </Component>
      <Component Id="cmpE391E014E95C684F326CFE8B94A2ACE4" Directory="dir0FBAA63D90D3836352633300369A0E34" Guid="*">
        <File KeyPath="yes" Source="..\WindowsFormsSample\Form1.resx" />
      </Component>
      <Component Id="cmpFFDB60B2EDC6FAEFC6F40BDAF8BC2CBD" Directory="dir0FBAA63D90D3836352633300369A0E34" Guid="*">
        <File KeyPath="yes" Source="..\WindowsFormsSample\Program.cs" />
      </Component>
      <Component Id="cmp5EF0E7161B00D86F69CEA518974C5A50" Directory="dir0FBAA63D90D3836352633300369A0E34" Guid="*">
        <File KeyPath="yes" Source="..\WindowsFormsSample\testDataSet.Designer.cs" />
      </Component>
      <Component Id="cmpA5670222F6713C24BB2064251FD8D33F" Directory="dir0FBAA63D90D3836352633300369A0E34" Guid="*">
        <File KeyPath="yes" Source="..\WindowsFormsSample\testDataSet.xsc" />
      </Component>
      <Component Id="cmpDE0F394CC3FDED727E9D7BCC07EEC901" Directory="dir0FBAA63D90D3836352633300369A0E34" Guid="*">
        <File KeyPath="yes" Source="..\WindowsFormsSample\testDataSet.xsd" />
      </Component>
      <Component Id="cmpB198C51A6321C36C1C5A0DDB033BF994" Directory="dir0FBAA63D90D3836352633300369A0E34" Guid="*">
        <File KeyPath="yes" Source="..\WindowsFormsSample\testDataSet.xss" />
      </Component>
      <Component Id="cmp78A300235494DB69186DB18C1ADA11D8" Directory="dir0FBAA63D90D3836352633300369A0E34" Guid="*">
        <File KeyPath="yes" Source="..\WindowsFormsSample\WindowsFormsSample.csproj" />
      </Component>
      <Component Id="cmp78A300235494DB69186DB18C1ADA11D9" Directory="dir0FBAA63D90D3836352633300369A0E34" Guid="*">
        <File KeyPath="yes" Source="..\WindowsFormsSample\HockeyPlayer.Designer.cs" />
      </Component>
      <Component Id="cmp1993BB917324B046D7838A9765FB10D1" Directory="dir0FBAA63D90D3836352633300369A0E34" Guid="*">
        <File KeyPath="yes" Source="..\WindowsFormsSample\HockeyPlayer.edmx" />
      </Component>
      <Component Id="cmp90E14ADF5B535A3B4946F60C67588528" Directory="dirC5252FB19EDCB6158160CF5B556491D3" Guid="*">
        <File KeyPath="yes" Source="..\WindowsFormsSample\Properties\AssemblyInfo.cs" />
      </Component>
      <Component Id="cmpB97FD7B784DF4F1839D0E35DFB90CBCA" Directory="dirC5252FB19EDCB6158160CF5B556491D3" Guid="*">
        <File KeyPath="yes" Source="..\WindowsFormsSample\Properties\Resources.Designer.cs" />
      </Component>
      <Component Id="cmp37915908B57E2A0315B6E6577125823C" Directory="dirC5252FB19EDCB6158160CF5B556491D3" Guid="*">
        <File KeyPath="yes" Source="..\WindowsFormsSample\Properties\Resources.resx" />
      </Component>
      <Component Id="cmp5C95A6A2D678480FDFA0ADD8360708D3" Directory="dirC5252FB19EDCB6158160CF5B556491D3" Guid="*">
        <File KeyPath="yes" Source="..\WindowsFormsSample\Properties\Settings.Designer.cs" />
      </Component>
      <Component Id="cmp05BA705FD49512DAF306C2CC9FC342D7" Directory="dirC5252FB19EDCB6158160CF5B556491D3" Guid="*">
        <File KeyPath="yes" Source="..\WindowsFormsSample\Properties\Settings.settings" />
      </Component>
      <Component Id="cmp5C95A6A2D678480FDFA0ADD8360708D4" Directory="dirC5252FB19EDCB6158160CF5B556491D5" Guid="*">
        <File KeyPath="yes" Source="..\WindowsFormsSample\Properties\DataSources\testEntities.datasource" />
      </Component>
    </ComponentGroup>
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="SampleWebProject">
      <Component Id="cmp4382BA754487FF9818D16F210BD84B5F" Directory="dir6DE7D19A5FA74A4CF9C5E9A3E39E197F" Guid="*">
        <File Id="fil30360B2524A08906FDB8E55764DB6C69" KeyPath="yes" Source="..\WebApplicationSample\About.aspx" />
      </Component>
      <Component Id="cmp8BA93ECC225C769524D13BC083741CFA" Directory="dir6DE7D19A5FA74A4CF9C5E9A3E39E197F" Guid="*">
        <File Id="fil9622340E4790415B9F7AECABB6E251D9" KeyPath="yes" Source="..\WebApplicationSample\About.aspx.cs" />
      </Component>
      <Component Id="cmp6490B857BE43199D2C4D2C3282A6BAF3" Directory="dir6DE7D19A5FA74A4CF9C5E9A3E39E197F" Guid="*">
        <File Id="fil08DAAC77DCCAECC4DC888C8C62EAB806" KeyPath="yes" Source="..\WebApplicationSample\About.aspx.designer.cs" />
      </Component>
      <Component Id="cmpDE557A97B40161DA5540DDF5BE2BB616" Directory="dir6DE7D19A5FA74A4CF9C5E9A3E39E197F" Guid="*">
        <File Id="filA87693EB8B6A59E9B906EDA760C52865" KeyPath="yes" Source="..\WebApplicationSample\Default.aspx" />
      </Component>
      <Component Id="cmp7FBFCF65FC6A340AB40606ECA519F33B" Directory="dir6DE7D19A5FA74A4CF9C5E9A3E39E197F" Guid="*">
        <File Id="fil6947F5B5773E29DE3806F6FCB4CAD00C" KeyPath="yes" Source="..\WebApplicationSample\Default.aspx.cs" />
      </Component>
      <Component Id="cmp413BF38571D6AB6BFF36E6D42CCE6A7B" Directory="dir6DE7D19A5FA74A4CF9C5E9A3E39E197F" Guid="*">
        <File Id="fil6FEBD6A5B550B0D5E896696F4635484B" KeyPath="yes" Source="..\WebApplicationSample\Default.aspx.designer.cs" />
      </Component>
      <Component Id="cmpCA2CCC6143638FC85DD4341907C4490E" Directory="dir6DE7D19A5FA74A4CF9C5E9A3E39E197F" Guid="*">
        <File Id="filFF36D5111C7D7497F41239452DFCF4EA" KeyPath="yes" Source="..\WebApplicationSample\Global.asax" />
      </Component>
      <Component Id="cmp6D6B55DD04A5AD10E3F372BBC8EBF6D6" Directory="dir6DE7D19A5FA74A4CF9C5E9A3E39E197F" Guid="*">
        <File Id="fil94E03CD4BA7B65A55510AB10BC518CFA" KeyPath="yes" Source="..\WebApplicationSample\Global.asax.cs" />
      </Component>
      <Component Id="cmpF9782DD84862867F6DE7B4CC342B562B" Directory="dir6DE7D19A5FA74A4CF9C5E9A3E39E197F" Guid="*">
        <File Id="fil553ECAD78342490FE785B8078D28D017" KeyPath="yes" Source="..\WebApplicationSample\HockeyModel.Designer.cs" />
      </Component>
      <Component Id="cmpAF91AFBD28A89915C4958FB34CA1808E" Directory="dir6DE7D19A5FA74A4CF9C5E9A3E39E197F" Guid="*">
        <File Id="fil355AA9E5C2E8FB64324CBC3E1B894588" KeyPath="yes" Source="..\WebApplicationSample\HockeyModel.edmx" />
      </Component>
      <Component Id="cmp424B5E83372CDC8685C398167F11CDFD" Directory="dir6DE7D19A5FA74A4CF9C5E9A3E39E197F" Guid="*">
        <File Id="filF2172916CFEA210356553D1F4C23CD28" KeyPath="yes" Source="..\WebApplicationSample\Site.Master" />
      </Component>
      <Component Id="cmp0B8947BE802918A8CDD9A892FFE1B86B" Directory="dir6DE7D19A5FA74A4CF9C5E9A3E39E197F" Guid="*">
        <File Id="fil9C5F69E22552C31768B61F90EF1BB10D" KeyPath="yes" Source="..\WebApplicationSample\Site.Master.cs" />
      </Component>
      <Component Id="cmp363DF5853785A55344AD3A8E7B3A8D18" Directory="dir6DE7D19A5FA74A4CF9C5E9A3E39E197F" Guid="*">
        <File Id="fil593C9E4CEE3BEDD93568417CD1B4AE7E" KeyPath="yes" Source="..\WebApplicationSample\Site.Master.designer.cs" />
      </Component>
      <Component Id="cmp9CEA334E9CC0D50A4A165BB94938BD8F" Directory="dir6DE7D19A5FA74A4CF9C5E9A3E39E197F" Guid="*">
        <File Id="fil05F4263D6A962AAD2A7502A41FA31C9E" KeyPath="yes" Source="..\WebApplicationSample\Web.config" />
      </Component>
      <Component Id="cmp264A7B818A1E19433162EA5CA4E65BCF" Directory="dir6DE7D19A5FA74A4CF9C5E9A3E39E197F" Guid="*">
        <File Id="fil15880C3CB768776B49AE12419C1D2AF4" KeyPath="yes" Source="..\WebApplicationSample\Web.Debug.config" />
      </Component>
      <Component Id="cmpC55D295C8D331B30D0B8F869496D1316" Directory="dir6DE7D19A5FA74A4CF9C5E9A3E39E197F" Guid="*">
        <File Id="filE2643C882C5F28FA06B26ADB57B42D1A" KeyPath="yes" Source="..\WebApplicationSample\Web.Release.config" />
      </Component>
      <Component Id="cmp52FD48C100D7655979CDBECC6B815A5C" Directory="dir6DE7D19A5FA74A4CF9C5E9A3E39E197F" Guid="*">
        <File Id="fil0B1362FA6F798C23E7E2411D4ADD70E4" KeyPath="yes" Source="..\WebApplicationSample\WebApplicationSample.csproj" />
      </Component>
      <Component Id="cmpFAF6BB5C8EEFD95AD32A8DA85D465DB1" Directory="dir22649DC0A0C0A383D4AC1819CD86A568" Guid="*">
        <File Id="filB35DFB49FC7E70088AAFA4C5E53B6CBD" KeyPath="yes" Source="..\WebApplicationSample\Account\ChangePassword.aspx" />
      </Component>
      <Component Id="cmp773AEB1A79DCD1A284CE44427BD5FF57" Directory="dir22649DC0A0C0A383D4AC1819CD86A568" Guid="*">
        <File Id="fil2286F1AF83831A5886866A65CEC7E80A" KeyPath="yes" Source="..\WebApplicationSample\Account\ChangePassword.aspx.cs" />
      </Component>
      <Component Id="cmpC1FFBB7274D3CB1B69524D14198EBB26" Directory="dir22649DC0A0C0A383D4AC1819CD86A568" Guid="*">
        <File Id="fil4D26E0958E2E3E254887EF292EAD63E1" KeyPath="yes" Source="..\WebApplicationSample\Account\ChangePassword.aspx.designer.cs" />
      </Component>
      <Component Id="cmpD3BED6D99BC454905C6A4A8985B204E5" Directory="dir22649DC0A0C0A383D4AC1819CD86A568" Guid="*">
        <File Id="filEE76D449513672B95B1B1B36C095193A" KeyPath="yes" Source="..\WebApplicationSample\Account\ChangePasswordSuccess.aspx" />
      </Component>
      <Component Id="cmpD7D179DA242AFD4831235796720243D6" Directory="dir22649DC0A0C0A383D4AC1819CD86A568" Guid="*">
        <File Id="fil96FF8FFE2A60C48BDC0C1B3006E448E4" KeyPath="yes" Source="..\WebApplicationSample\Account\ChangePasswordSuccess.aspx.cs" />
      </Component>
      <Component Id="cmp7F1A9742CC1DA23A0492407E7F6B1047" Directory="dir22649DC0A0C0A383D4AC1819CD86A568" Guid="*">
        <File Id="fil1344468D28E0059D7FD840677CECA517" KeyPath="yes" Source="..\WebApplicationSample\Account\ChangePasswordSuccess.aspx.designer.cs" />
      </Component>
      <Component Id="cmpB54BA8818E4F87C6400BB8686781E74F" Directory="dir22649DC0A0C0A383D4AC1819CD86A568" Guid="*">
        <File Id="fil9757CD3C10A1FD6798EA4DCE26467A99" KeyPath="yes" Source="..\WebApplicationSample\Account\Login.aspx" />
      </Component>
      <Component Id="cmpB8043B050ED63B625EF2874CB9DCF6AE" Directory="dir22649DC0A0C0A383D4AC1819CD86A568" Guid="*">
        <File Id="filA56A2E4B2857508490D694C37A40986C" KeyPath="yes" Source="..\WebApplicationSample\Account\Login.aspx.cs" />
      </Component>
      <Component Id="cmp151F1B2D818CD9807D6B5AE5296647D5" Directory="dir22649DC0A0C0A383D4AC1819CD86A568" Guid="*">
        <File Id="filBC46C91D6DE5E05938E286BF116EE100" KeyPath="yes" Source="..\WebApplicationSample\Account\Login.aspx.designer.cs" />
      </Component>
      <Component Id="cmp59003B1AF9FE6216E68B5C0B8DA55517" Directory="dir22649DC0A0C0A383D4AC1819CD86A568" Guid="*">
        <File Id="fil8988E7EF5850A65440C935E5C6F4ECD3" KeyPath="yes" Source="..\WebApplicationSample\Account\Register.aspx" />
      </Component>
      <Component Id="cmp6F4C92B48675341DAF0FF2035CD5A2EA" Directory="dir22649DC0A0C0A383D4AC1819CD86A568" Guid="*">
        <File Id="fil663E45F249E93A16E60EB25394898D64" KeyPath="yes" Source="..\WebApplicationSample\Account\Register.aspx.cs" />
      </Component>
      <Component Id="cmpDBFFE45C913A879BF8C749AD65544981" Directory="dir22649DC0A0C0A383D4AC1819CD86A568" Guid="*">
        <File Id="fil4A2BDD5CF406147161A8D00F024D1B46" KeyPath="yes" Source="..\WebApplicationSample\Account\Register.aspx.designer.cs" />
      </Component>
      <Component Id="cmp14A832D1547FDAE21B4B5C23CD80F07A" Directory="dir22649DC0A0C0A383D4AC1819CD86A568" Guid="*">
        <File Id="fil32393B7FFAAB41FCF62D482586BE4BE2" KeyPath="yes" Source="..\WebApplicationSample\Account\Web.config" />
      </Component>
      <Component Id="cmp5957502E918AB350D61DB431454F41E8" Directory="dirFC41714AD7B05BEE2AF387A2260F9049" Guid="*">
        <File Id="filBF7B7BFC8D050CAD19A2CDDA1084C519" KeyPath="yes" Source="..\WebApplicationSample\Properties\AssemblyInfo.cs" />
      </Component>
      <Component Id="cmpBE08E6356FEA049BFFDD46F4951BEDB8" Directory="dir85CD24AD85CC158EEAC2713361190102" Guid="*">
        <File Id="filAAABF325E935E8833902CC59D52A32EF" KeyPath="yes" Source="..\WebApplicationSample\Scripts\jquery-1.4.1-vsdoc.js" />
      </Component>
      <Component Id="cmp3831CE5915DBF3C41A7E3330531BA194" Directory="dir85CD24AD85CC158EEAC2713361190102" Guid="*">
        <File Id="filBBFBAE0F0C1B4B031DCC265A23F14057" KeyPath="yes" Source="..\WebApplicationSample\Scripts\jquery-1.4.1.js" />
      </Component>
      <Component Id="cmp35A4D7290369948FBA7D84AA71762427" Directory="dir85CD24AD85CC158EEAC2713361190102" Guid="*">
        <File Id="fil4C7FC8B557B4576E6449691DC8864115" KeyPath="yes" Source="..\WebApplicationSample\Scripts\jquery-1.4.1.min.js" />
      </Component>
      <Component Id="cmpA52AC23D220BB46E116A76471B8B22C2" Directory="dir2F8045421329F2D7DE8A0388EC04E3F5" Guid="*">
        <File Id="fil62E264256BC61E52504157856B7A50E0" KeyPath="yes" Source="..\WebApplicationSample\Styles\Site.css" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ConsoleProject">
      <Component Id="cmp02B7ADAC1AF98B2861F962D2C49B0F73" Directory="dir7C4943161F4326908FB17010A3E00061" Guid="*">
        <File Id="fil775C2CABF0EAF115CDFA6E41F6D6481D" KeyPath="yes" Source="..\ConsoleSample.csproj" />
      </Component>
      <Component Id="cmpC9FD95CB5EC51D752EF1D95D3CA0385B" Directory="dir7C4943161F4326908FB17010A3E00061" Guid="*">
        <File Id="fil0D8777B2EF78B6AEF05223F5301AA349" KeyPath="yes" Source="..\ConsoleSample.csproj.user" />
      </Component>
      <Component Id="cmpD08D8056468BD258F5D8C7A06D3C22F3" Directory="dir7C4943161F4326908FB17010A3E00061" Guid="*">
        <File Id="filD26E03D38BDD88CD9D8C7FD1892C2F90" KeyPath="yes" Source="..\HelloDB.cs" />
      </Component>
      <Component Id="cmpB14CD14ECE69EB3D8BF44DEA6EE83A0A" Directory="dir7C4943161F4326908FB17010A3E00061" Guid="*">
        <File Id="filD94AF716847DA1EE07CAD401BF1AB6AA" KeyPath="yes" Source="..\Program.cs" />
      </Component>
      <Component Id="cmp2303E8F98F7DD361AF488C13268FD0AA" Directory="dirFE4B148A70A647221D7C840E963A9F37" Guid="*">
        <File Id="fil7840301D7484731F1AADB19B00BA60E3" KeyPath="yes" Source="..\Properties\AssemblyInfo.cs" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>