<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
	<system.data>
		<DbProviderFactories>
			<add name="NuoDB Data Provider" invariant="NuoDb.Data.Client" description=".NET Framework Data Provider for NuoDB" type="NuoDb.Data.Client.NuoDbProviderFactory, NuoDb.Data.Client"/>
		</DbProviderFactories>
	</system.data>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
		</defaultConnectionFactory>
		<providers>
			<!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />-->
			<provider invariantName="NuoDb.Data.Client" type="EntityFramework.NuoDb.NuoDbProviderServices, EntityFramework.NuoDb"/>
		</providers>
	</entityFramework>
</configuration>
