<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsSample.Properties.Settings.NuoDBQuickstart"
            connectionString="server=localhost;database=test;user=dba;password=goalie;schema=hockey"
            providerName="System.Data.NuoDB" />
    </connectionStrings>
</configuration>