<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="WindowsFormsSample.Properties.Settings.NuoDBQuickstart" connectionString="server=localhost;database=test;user=dba;password=goalie;schema=hockey" providerName="NuoDb.Data.Client" />
    <add name="testEntities" connectionString="metadata=res://*/HockeyPlayer.csdl|res://*/HockeyPlayer.ssdl|res://*/HockeyPlayer.msl;provider=NuoDb.Data.Client;provider connection string=&quot;server=localhost;database=test;user=dba;password=goalie;schema=hockey&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>