<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="WindowsFormsSample.Properties.Settings.NuoDBQuickstart" connectionString="server=localhost;database=test;user=dba;password=dba;schema=hockey;SQLEngine=omega" providerName="NuoDb.Data.Client"/>
    <add name="testEntities" connectionString="metadata=res://*/HockeyPlayer.csdl|res://*/HockeyPlayer.ssdl|res://*/HockeyPlayer.msl;provider=NuoDb.Data.Client;provider connection string=&quot;server=localhost;database=test;user=dba;password=dba;schema=hockey;SQLEngine=omega&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
