<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="testEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=NuoDb.Data.Client;provider connection string=&quot;server=localhost;database=test;user=dba;password=goalie;schema=hockey&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <system.data>
    <DbProviderFactories>
      <!--remove provider factory from machine.config if exists-->
      <remove invariant="NuoDb.Data.Client"/>
      <!--add provider factory (without versioning)-->
      <add name="NuoDB Data Provider" invariant="NuoDb.Data.Client" description=".NET Framework Data Provider for NuoDB" type="NuoDb.Data.Client.NuoDbProviderFactory, NuoDb.Data.Client"/>
    </DbProviderFactories>
  </system.data>
</configuration>
