<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="testEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=NuoDb.Data.Client;provider connection string=&quot;server=localhost;database=test;user=dba;password=goalie;schema=hockey&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>